@using PagedList.Mvc
@model MemoryAudio.Models.Admin.ProductListViewModel
@{
    ViewBag.Title = "Tra cứu sản phẩm";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Hidden("pageIndex", Model.PageIndex)
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-inline text-left">
                                        @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelector, "--Tất cả danh mục--", new { @class = "form-control input-sm" })
                                        @Html.DropDownListFor(model => model.BrandId, Model.BrandSelector, "--Thương hiệu--", new { @class = "form-control input-sm" })
                                        @Html.DropDownListFor(model => model.Display, Model.DisplaySelector, "--Hiển thị--", new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right:0px;">
                                    <div class="form-inline text-right">
                                        Phân trang:
                                        <select id="selectPageSize" class="form-control input-sm">
                                            <option value="12" @(Model.PageSize == 12 ? "selected" : "")>12</option>
                                            <option value="24" @(Model.PageSize == 24 ? "selected" : "")>24</option>
                                            <option value="36" @(Model.PageSize == 36 ? "selected" : "")>36</option>
                                            <option value="72" @(Model.PageSize == 72 ? "selected" : "")>72</option>
                                        </select>
                                        Sắp xếp:
                                        <select id="selectSortOrder" class="form-control input-sm">
                                            <option value="" @(string.IsNullOrWhiteSpace(Model.SortOrder) ? "selected" : "")>Mặc định</option>
                                            <option value="price" @(Model.SortOrder.Equals("price") ? "selected" : "")>Giá tiền: tăng dần</option>
                                            <option value="price_desc" @(Model.SortOrder.Equals("price_desc") ? "selected" : "")>Giá tiền: giảm dần</option>
                                            <option value="name" @(Model.SortOrder.Equals("name") ? "selected" : "")>Tên sản phẩm: A - Z</option>
                                            <option value="name_desc" @(Model.SortOrder.Equals("name_desc") ? "selected" : "")>Tên sản phẩm: Z - A</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px;">
                                <div class="form-inline text-left">
                                    <input id="inputSearch" type="search" value="@Model.FilterText" class="form-control input-sm" placeholder="Nhập từ khóa tra cứu" />
                                    <input id="buttonSearch" type="button" class="btn btn-sm btn-primary" value="Tra cứu" />
                                    <a href="/Admin/AddProduct" class="btn btn-sm btn-info" style="width:50px;">+</a>
                                </div>
                            </div>
                        </div>
                        <table id="example1" class="table table-bordered table-striped" style="margin-top:24px;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Nhãn hiệu</th>
                                    <th>Giá bán</th>
                                    <th>Giảm giá</th>
                                    <th>Số tồn</th>
                                    <th>Hiển thị</th>
                                    <th>Sắp xếp</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var rowIndex = Model.Products.FirstItemOnPage;
                                    foreach (var item in Model.Products)
                                    {
                                        <tr>
                                            <td class="text-center">@rowIndex</td>
                                            <td><a href="/Admin/EditProduct?id=@item.ProductId">@item.ProductName</a></td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.BrandName</td>
                                            <td class="text-right">@item.Price.ToString("#,###")</td>
                                            <td class="text-right">@item.Discount.ToString("#,###")</td>
                                            <td class="text-right">@item.TotalInStock.ToString("#,###")</td>

                                            <td class="text-center">
                                                @switch (item.Display)
                                                {
                                                    case 1:
                                                        <span class="text-gray">Ẩn</span>
                                                        break;
                                                    case 2:
                                                        <span class="text-success">Hiển thị</span>
                                                        break;
                                                    case 3:
                                                        <span class="text-warning">Mới</span>
                                                        break;
                                                    case 4:
                                                        <span class="text-danger">Nổi bật</span>
                                                        break;
                                                    default:
                                                        <span class="text-gray">Chưa xác định</span>
                                                        break;
                                                }
                                            </td>
                                            <td class="text-center">@item.SortIdx</td>
                                            <td>
                                                <a href="/Admin/EditProduct?id=@item.ProductId" class="btn btn-xs btn-info">Edit</a>
                                                <a href="javascript:deleteProduct(@item.ProductId, '@item.ProductName')" class="btn btn-xs btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        rowIndex++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Nhãn hiệu</th>
                                    <th>Giá bán</th>
                                    <th>Giảm giá</th>
                                    <th>Số tồn</th>
                                    <th>Hiển thị</th>
                                    <th>Sắp xếp</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!--Summay-->
                        @if (Model.Products.TotalItemCount > 0)
                        {
                            <div class="container-fluid" style="margin:8px 0px;">
                                <div class="row">
                                    Hiển thị @Model.Products.FirstItemOnPage đến @Model.Products.LastItemOnPage trên tổng @Model.Products.TotalItemCount sản phẩm
                                </div>
                            </div>
                        }
                        <!--Paging-->
                        @if (Model.Products.PageCount > 1)
                        {
                            <div class="container-fluid" style="margin:8px 0px;">
                                <div class="row">
                                    @Html.PagedListPager(Model.Products, page => Url.Action("Products", new { page, pageSize = Model.PageSize, categoryId = Model.CategoryId, brandId = Model.BrandId, display = Model.Display, sortOrder = Model.SortOrder, filterText = Model.FilterText }))
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles {
    <link href="~/Content/bower_components/bootstrap-dialog/bootstrap-dialog.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/bower_components/bootstrap-dialog/bootstrap-dialog.js"></script>
    <script>
        $(document).ready(function () {
            $("#selectPageSize").on("change", function () {
                search();
            });
            $("#CategoryId").on("change", function () {
                search();
            });
            $("#BrandId").on("change", function () {
                search();
            });
            $("#Display").on("change", function () {
                search();
            });
            $("#buttonSearch").on("click", function () {
                $("#pageIndex").val(1);
                search();
            });
            $("#selectSortOrder").on("change", function () {
                search();
            });
            // Active system menu
            $(".nav-product").addClass("menu-open");
            $(".nav-product > ul").show();
        });

        function search() {
            var filterText = $("#inputSearch").val();
            var categoryId = $("#CategoryId").val();
            var brandId = $("#BrandId").val();
            var display = $("#Display").val();
            var sortOrder = $("#selectSortOrder").val();
            var pageIndex = $("#pageIndex").val();
            var pageSize = $("#selectPageSize").val();
            var url = "/Admin/Products?filterText=" + filterText + "&categoryId=" + categoryId + "&brandId=" + brandId + "&display=" + display + "&sortOrer=" + sortOrder + "&page=" + pageIndex + "&pageSize=" + pageSize;
            window.location.replace(url);
        }

        function deleteProduct(id, name) {
            BootstrapDialog.show({
                message: '<span class="text-danger">Bạn chắc chắn muốn xóa sản phẩm <b>' + name + '</b>?</span>',
                buttons: [{
                    label: 'Xóa',
                    cssClass: 'btn-danger btn-sm',
                    action: function (dialog) {
                        $.ajax({
                            url: '/Admin/DeleteProduct?id=' + id,
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.Success == true) {
                                    search();
                                }
                                else {
                                    BootstrapDialog.show({
                                        title: "Lỗi",
                                        message: data.Message,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            },
                            error: function (xhr) {
                                BootstrapDialog.show({
                                    title: "Lỗi",
                                    message: xhr.responseText,
                                    buttons: [{
                                        label: "Đóng",
                                        cssClass: "btn-primary btn-sm",
                                        action: function (dialog) {
                                            dialog.close();
                                        }
                                    }]
                                });
                            }
                        });
                        dialog.close();
                    }
                }, {
                    label: 'Đóng',
                    cssClass: 'btn-primary btn-sm',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            })
        }
    </script>
}