@using PagedList.Mvc
@model MemoryAudio.Models.Admin.RoleListViewModel

@{
    ViewBag.Title = "Chức danh";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Hidden("pageIndex", Model.PageIndex)
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Hệ thống</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row" style="margin-bottom:8px;">
                                <div class="col-md-6" style="padding-left:0px;">
                                    <div class="form-inline text-left">
                                        <input id="inputSearch" type="search" value="@Model.FilterText" class="form-control input-sm" placeholder="Nhập từ khóa tra cứu" style="width:165px;" />
                                        <input id="buttonSearch" type="button" class="btn btn-sm btn-primary" value="Tra cứu" />
                                        <a href="/Admin/AddRole" class="btn btn-sm btn-info" style="width:50px;">+</a>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-right:0px;">
                                    <div class="form-inline text-right">
                                        Phân trang:
                                        <select id="selectPageSize" class="form-control input-sm">
                                            <option value="12" @(Model.PageSize == 12 ? "selected" : "")>12</option>
                                            <option value="24" @(Model.PageSize == 24 ? "selected" : "")>24</option>
                                            <option value="36" @(Model.PageSize == 36 ? "selected" : "")>36</option>
                                            <option value="72" @(Model.PageSize == 72 ? "selected" : "")>72</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="example1" class="table table-bordered table-striped" style="margin-bottom:8px;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Chức danh</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var rowIndex = Model.Roles.FirstItemOnPage;
                                    foreach (var item in Model.Roles)
                                    {
                                        <tr>
                                            <td class="text-center">@rowIndex</td>
                                            <td><a href="/Admin/EditRole?id=@item.RoleId">@item.RoleName</a></td>
                                            <td>@item.Description</td>
                                            <td>
                                                <a href="/Admin/EditRole?id=@item.RoleId" class="btn btn-xs btn-info">Edit</a>
                                                <a href="javascript:deleteRole(@item.RoleId, '@item.RoleName')" class="btn btn-xs btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        rowIndex++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Chức danh</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!--Summay-->
                        @if (Model.Roles.TotalItemCount > 0)
                        {
                            <div class="container-fluid" style="margin:8px 0px;">
                                <div class="row">
                                    Hiển thị @Model.Roles.FirstItemOnPage đến @Model.Roles.LastItemOnPage trên tổng @Model.Roles.TotalItemCount chức danh
                                </div>
                            </div>
                        }

                        <!--Paging-->
                        @if (Model.Roles.PageCount > 1)
                        {
                            <div class="container-fluid" style="margin:8px 0px;">
                                <div class="row">
                                    @Html.PagedListPager(Model.Roles, page => Url.Action("Roles", new { page, pageSize = Model.PageSize, filterText = Model.FilterText }))
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles {
    <link href="~/Content/bower_components/bootstrap-dialog/bootstrap-dialog.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/bower_components/bootstrap-dialog/bootstrap-dialog.js"></script>
    <script>
        $(document).ready(function () {
            $("#selectPageSize").on("change", function () {
                search();
            });
            $("#selectStatus").on("change", function () {
                search();
            });
            $("#buttonSearch").on("click", function () {
                $("#pageIndex").val(1);
                search();
            });
            // Active system menu
            $(".nav-system").addClass("menu-open");
            $(".nav-system > ul").show();
        });

        function search() {
            var filterText = $("#inputSearch").val();
            var pageIndex = $("#pageIndex").val();
            var pageSize = $("#selectPageSize").val();
            var url = "/Admin/Roles?filterText=" + filterText  + "&page=" + pageIndex + "&pageSize=" + pageSize;
            window.location.replace(url);
        }

        function deleteRole(id, rolename) {
            BootstrapDialog.show({
                message: '<span class="text-danger">Bạn chắc chắn muốn xóa chức danh <b>' + rolename + '</b>?</span>',
                buttons: [{
                    label: 'Xóa',
                    cssClass: 'btn-danger btn-sm',
                    action: function (dialog) {
                        $.ajax({
                            url: '/Admin/DeleteRole?id=' + id,
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.Success == true) {
                                    search();
                                }
                                else {
                                    BootstrapDialog.show({
                                        title: "Lỗi",
                                        message: data.Message,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            },
                            error: function (xhr) {
                                BootstrapDialog.show({
                                    title: "Lỗi",
                                    message: xhr.responseText,
                                    buttons: [{
                                        label: "Đóng",
                                        cssClass: "btn-primary btn-sm",
                                        action: function (dialog) {
                                            dialog.close();
                                        }
                                    }]
                                });
                            }
                        });
                        dialog.close();
                    }
                }, {
                    label: 'Đóng',
                    cssClass: 'btn-primary btn-sm',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            })
        }
    </script>
}