@using MemoryAudio.Libs
@model MemoryAudio.Models.Home.ProductViewModel
@{
    ViewBag.Title = Model.Product.ProductName;
    var product = Model.Product;
    var relatedProducts = Model.RelatedProducts;
}

<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <!-- Breadcrumb -->
        <div>
            <nav class="breadcrumb-nav">
                <ul>
                    <li><a href="/Trang-chu"><i class="icon-sli-home"></i><span style="margin-left:8px;">Trang chủ</span></a></li>
                    @foreach (var category in Model.ParentCategories)
                    {
                        <li><a href="/Home/Category?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                    }
                    <li><a href="/Home/Category?categoryId=@product.CategoryId">@product.CategoryName</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <!-- CAROUSEL -->
            <div class="owl-carousel owl-theme">
                @if (!string.IsNullOrWhiteSpace(product.Image1))
                {
                    <div><img src="@product.Image1" alt="@product.ProductName"></div>
                }
                @if (!string.IsNullOrWhiteSpace(product.Image2))
                {
                    <div><img src="@product.Image2" alt="@product.ProductName"></div>
                }
                @if (!string.IsNullOrWhiteSpace(product.Image3))
                {
                    <div><img src="@product.Image3" alt="@product.ProductName"></div>
                }
                @if (!string.IsNullOrWhiteSpace(product.Image4))
                {
                    <div><img src="@product.Image4" alt="@product.ProductName"></div>
                }
                @if (!string.IsNullOrWhiteSpace(product.Image5))
                {
                    <div><img src="@product.Image5" alt="@product.ProductName"></div>
                }
                @if (!string.IsNullOrWhiteSpace(product.Image6))
                {
                    <div><img src="@product.Image6" alt="@product.ProductName"></div>
                }
            </div>
            <!-- ProductInfo -->
            <div class="card mt-4">
                <div class="card-body">
                    <h5>@product.ProductName</h5>
                    @if (product.Price > 0)
                    {
                        if (product.Discount <= 0)
                        {
                            <p>
                                <span>Giá:</span>
                                <span class="text-danger"><strong>@product.Price.ToString("#,###")Đ</strong></span>
                            </p>
                        }
                        else
                        {
                            var finalPrice = product.Price - product.Discount;
                            var discountPercent = (product.Discount / product.Price) * 100;
                            if (finalPrice < 0) { finalPrice = 0; }
                            if (discountPercent < 0) { discountPercent = 0; }
                            <p>
                                <span>Giá:</span>
                                <span class="text-danger"><strong>@finalPrice.ToString("#,###")Đ</strong></span>
                                <span style="text-decoration:line-through;color:grey;">@product.Price.ToString("#,###")Đ</span>
                                <span><strong>-@discountPercent.ToString("#,###")%</strong></span>
                            </p>
                        }
                    }
                    else
                    {
                        <p>
                            <span>Giá:</span>
                            <span class="text-danger"><strong>Liên hệ</strong></span>
                        </p>
                    }
                    <p>Thương hiệu: @product.BrandName</p>
                    <span class="text-warning">★ ★ ★ ★ ☆</span> 4.0 stars
                    <p class="text-danger">@Html.Raw(product.Specification)</p>
                </div>
            </div>
            <!-- Related Products -->
            @if (Model.RelatedProducts.Count > 0)
            {
                <div class="page-header">
                    <h5 class="text-info">Sản phẩm tương tự</h5>
                </div>
                <div class="margin2x">
                    @foreach (var item in relatedProducts)
                    {
                        <div class="s-12 m-12 l-4 xl-3 xxl-3 product-item">
                            <a href="/San-pham/@item.ProductName.ToHyperLinkTitle()-@item.ProductId"><img class="thumb-img" src="@item.Image1"></a>
                            <div style="min-height:36px;"><a href="/Home/Product?productId=@item.ProductId"><h6><strong>@item.ProductName</strong></h6></a></div>
                            <h6>Giá: <span class="text-danger"><strong>@item.Price.ToString("#,###")Đ</strong></span></h6>
                        </div>
                    }
                </div>
            }

            @*<div class="card card-outline-secondary my-4" style="margin-top:32px;">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

                <div class="container">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators carousel-indicators-numbers">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">1</li>
                            <li data-target="#carousel-example-generic" data-slide-to="1">2</li>
                            <li data-target="#carousel-example-generic" data-slide-to="2">3</li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="http://placehold.it/1200x500" alt="...">
                            </div>
                            <div class="item">
                                <img src="http://placehold.it/1200x500" alt="...">
                            </div>
                            <div class="item">
                                <img src="http://placehold.it/1200x500" alt="...">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>*@
        </div>
    </div>
</section>

@section styles {
    <link rel="stylesheet" href="~/content/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/content/owl-carousel/owl.theme.css">
}

@section scripts {
    <script type="text/javascript" src="~/content/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                navText: ["&#xf007", "&#xf006"],
                items: 1
                //responsive: {
                //    0: {
                //        items: 1
                //    },
                //    600: {
                //        items: 1
                //    },
                //    1000: {
                //        items: 2
                //    }
                //}
            })
        })
    </script>
}